[*.cs]

### Style Cop

### Code Analysis

### C# style

### Visual Studio

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none